body{
    margin: 0;
    font-family:cursive;
}
.NavBar{
    background: #34495E ;
}
.InicioPuntaje{
    display: flex;
    justify-content: end;
}
.boton{
    display: flex;
    justify-content: center;
}
.pregunta{
    display: flex;
    justify-content: center;
    background: #34495E ;
}
.botonPregunta{
    width: 50%; 
    margin: 10px auto 10px auto ;
}
.container{   
    margin: 5% auto 0px auto ;
}
.puntaje{
   display: flex;
   justify-content: center;
}
.puntajesContainer{
    margin: 10% auto;
}
